<h1>Sneha Achalkar</h1>
<h1>Student ID - 84135</h1>

<p>
In the web security fundamentals class I have gained knowledge about network industry standards such as the OSI model, Routing Protocols, Firewalls, Routers, Hubs, Switches, 
IP Addresses and Subnetting, MAC Addressing. I have also understood the concepts of confidentiality, availability and integrity in Information Assurance, including physical, software, devices, policies and people. This course has given me an insight on professional, ethical, legal, security and social issues and responsibilities. In this course we have learnt various concepts like SSH key generation, Virtual Private networks, different types of Virtual Private Networks and the protocols used in VPNs. I have also learnt about Cryptography basics, different types of ciphers, Data Encryption standard and Advanced Encryption standard encryption algorithms and also about Public and Private keys usage.

I have also learnt  about basic web application setup and security measure of keeping the web application secure by creating access control groups and also remote connection into applications using authentication(SSH). 

This course also gave me a very good overview of using GIT and Heroku for web application hosting. </p>
